@font-face {
  font-family: 'Festive';
  src: url('./Festive/Festive-Regular.ttf') format('truetype'),
    url('./Festive/festive-regular-webfont.woff2') format('woff2'),
    url('./Festive/festive-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
